.profile {
  display: flex;
  width: 100%;
  min-height: 120px;
  margin-bottom: 51px;
}

@media screen and (max-width: 1023px) {
  .profile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    min-height: 286px;
    align-items: center;
    margin-bottom: 36px;
  }
}
