.auth-page__subButton {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
  transition: opacity 0.25s linear;
  cursor: pointer;
  position: absolute;
}

.auth-page__subButton:hover {
  opacity: 0.85;
}
