.popup__form {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  min-height: 182px;
  margin-left: 36px;
  margin-right: 36px;
}

@media screen and (max-width:767px) {
  .popup__form {
    max-width: 238px;
    min-height: 175px;
    margin-left: 22px;
    margin-right: 22px;
  }
}
