.popup__close-btn {
  background-image: url(../../../images/close-icon.svg);
  background-color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36;
    right: 0;
  }
}
