.header {
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .header {
    min-height: 56px;
    padding-top: 28px;
    margin-bottom: 42px;
  }
}
