.auth-page__title {
  max-width: 358px;
  min-height: 29px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 319px) {
  .auth-page__title {
    font-size: 20px;
    line-height: 24px;
  }
}
